.container {
  padding-top: 50px;
  width: 100%;
  height: 100%;
}

.navbar {
  position: absolute;
  top: 20px;
  left: 20px;
}

.link {
  color: #333;
}

.imglist {
  overflow: auto;
  box-sizing: border-box;
  padding: 50px 0;
  width: 80%;
  height: 100%;
  margin-left: auto;
  font-size: 0;
  background: #fff;
}

.imglist::-webkit-scrollbar {
}

.imglist img {
  max-width: 100%;
}

.chapter {
  float: left;
}
