@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :focus {
    outline: none;
  }
}

@layer components {
  .image-pixelated {
    image-rendering: pixelated;
  }
}


html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

img {
  pointer-events: none;
  user-select: none;
}
