@media screen and (max-width: 600px) {
  .imglist {
    width: 100vw !important;
    left: 0 !important;
    z-index: -1;
  }

  .chapter {
    background: #fff;
  }

  .navbar {
    background: #fff;
  }
}

.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.container.closechapter .imglist {
  width: 100% !important;
  left: 0 !important;
}

.container.closechapter .navbar {
  display: none;
}

.container.closechapter .chapter {
  width: 0 !important;
}

.navbar {
  position: fixed;
  top: 20px;
  left: 20px;
}

.toolbar {
  position: fixed;
  right: 0;
  bottom: 20px;
  padding: 0 20px;
  cursor: pointer;
  z-index: 1;

  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.toolbaricon {
  background: #333;
  color: #fff;
}

.toolbaricon.toolbarenabled {
  color: orange;
}

.toolbaricon + .toolbaricon {
  margin-top: 10px;
}
.link {
  color: #333;
}
.imglist {
  position: absolute;
  left: 320px;
  width: calc(100% - 320px);
  box-sizing: border-box;
  font-size: 0;
  background: #fff;
  user-select: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  user-select: none;
}

.imglist img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  pointer-events: none;
  user-select: none;
}

.chapter {
  position: fixed;
  box-sizing: border-box;
  left: 0;
  top: 50px;
  width: 300px;
  height: calc(100% - 100px);
  overflow: auto;
}

.chaptername span {
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
}

.chaptername.current span {
  color: dodgerblue;
}

.filter-4 {
  filter: invert(1);
}

.filter-2 {
  image-rendering: pixelated;
}

.filter-3 {
  filter: sepia(1);
}

.filter-1 {
  filter: brightness(0.5);
}

.nextpagebtn {
  width: 50px;
  margin: 0 auto;
  text-align: center;
}
