.gridlist {
  height: 100%;
  width: 800px;
}

.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full {
  height: 100%;
  height: 100%;
}

.plusicon {
  width: 50px;
  height: 50px;
}

.card {
}

.addcard {
  box-sizing: border-box;
  opacity: 0.8;
  border: 1px solid #333;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.addcard:hover {
  opacity: 1;
}

.support {
  color: #666;
}

.search {
  position: relative;
  border-radius: 10px;
  margin-left: 20px;
}

.searchicon {
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;
  padding: 0 2px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchinput {
  padding-left: 30px;
}

.container {
  padding-top: 50px;
}
